<div class="container-fluid">
  <div class="row no-gutter">
    <div class="col-md-6 d-none d-md-flex bg-image"></div>
    <div class="col-md-6 bg-light">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-xl-6 mx-auto">
              <strong class="fa fa-home  " style="cursor:pointer;" routerLink="/"> /Home</strong>
              <hr>
              <form #f="ngForm" (ngSubmit)="login(f)">
                <div class="form-group mb-3">
                  <input id="inputEmail" type="Email" placeholder="Email" required="" autofocus=""
                    class="form-control rounded-pill border-0 shadow-sm px-4" required name="Email" #Email="ngModel"
                    ngModel />
                </div>
                <div class="form-group mb-3">
                  <input id="inputPassword" type="password" placeholder="Mot de passe" required=""
                    class="form-control rounded-pill border-0 shadow-sm px-4 text-danger" required name="MotDePasse"
                    #MotDePasse="ngModel" ngModel /><br />
                </div>


                <div class="alert alert-danger" *ngIf="messageError">{{messageError}}</div>
                <button type="submit" class="btn btn-bt bt btn-block text-uppercase mb-2 rounded-pill shadow-sm">
                  Login
                </button>
                <div class="text-center d-flex justify-content-between mt-4">

                  <button type="submit" routerLink="/registre"
                    class="btn btn-bt bt1 btn-block text-uppercase mb-2 rounded-pill shadow-sm">
                    <u>Créer un compte</u></button>




                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>