<main>




    <section class="product">
      <div type="button" routerLink="allcommands" class="product__item product__item-highlight">
             <img src="assets/front/imgs/form.png" alt="Logistics icon" class="product__item__image">
        <p class="product__item__text">Publier <br> une offre
          </p>
        <!---->
      </div>
      <div type="button" routerLink="missions" class="product__item">
        <img   src="assets/front/imgs/cmd.jpg" alt="Logistics icon" class="product__item__image">
        <p class="product__item__text">mes missions </p>
      </div>
      <!---->
      <div type="button" routerLink="contact" class="product__item">
        <img src="https://cdn.pixabay.com/photo/2019/07/03/05/58/envelope-4313721__480.png"alt="Logistics icon" class="product__item__image">
        <p class="product__item__text">Demande d'aide</p>
      </div>
    </section>
  
  
    <section class="text">
      <div class="text__item">
        <h1>Bienvenue chez BIPBIP</h1>
      </div>
      <div class="text__item">
        <p>BIPBIP vous offre une solution informatique pour vous faire gagner du temps et faciliter la gestion de vos expéditions. vous serz toujours capable d'ajouter des offres, voir leurs statut, consulter vos activitées.</p>
      </div>
    </section>
  
  </main>