<table class="container">
  <tr class="card" *ngFor="let item of dataArray;index as i">
    <header class="card-header">Date de Création : {{item.DateCreation.substring(0,10)}}</header>

    <header class="card-header">Destination/{{item.GouvernoratDestinataire}}</header>
    <div class="card-body">
      <h6>Description: {{ item.Description }}</h6>

      <article class="card">
        <div class="card-body row">
          <div class="col">
            <strong>Nom-Destinataire:</strong> <br />{{ item.NomDestinataire}}
          </div>

          <div class="col">
            <strong>Prénom-Destinataire:</strong> <br />
            {{ item.PrenomDestinataire }}
          </div>
          <div class="col">
            <strong>Téléphone :</strong> <br />{{ item.NumeroTlfDestinataire }} |
            <i class="fa fa-phone"></i>
          </div>
          <div class="col">
            <strong>Poids:</strong> <br />
            {{ item.Poids }}
          </div>
          <div class="col">
            <a (click)="details(item._id)" style="color: white" class="btn btn-warning" data-abc="true">Publier une
              offre <i class="fa fa-chevron-right"></i>
            </a>

          </div>
        </div>
      </article>

      <hr />
    </div>
  </tr>
</table>