















































<!-- 
				
				
							<main id="main" class="main">
				
								<div class="card-body">
									<h5 class="card-title">Recent Sales <span>| Today</span></h5>
							
									<table class="table table-borderless datatable">
									  <thead> -->
<!-- <tr>
										  <th scope="col">#</th>
										  <th scope="col">Nom</th>
										  <th scope="col">Prenom</th>
										  <th scope="col">téléphone</th>
										  <th scope="col">ville/localité</th>
										</tr> -->
<!-- </thead>
									  <tbody> -->
<!-- <tr >
										
										  <th scope="row"><a href="#"></a></th> -->
<!-- <td>{{datalivreur.FirstName }}</td> -->
<!-- <td><a href="#" class="text-primary">{{item.City}}</a></td>
										  <td>{{item.Longueur}}</td>			  
										  <td>{{item.Poids}}</td>
										  <td>{{item.Dest_FirstName}}</td>
										  <td>{{item.Dest_LastName}}</td>
										   -->
<!-- 			
										  <td><span class="badge bg-warning">Pending</span></td> 
							
										</tr> 
										
									  </tbody>
									</table>
							
								  </div>
								</main>  -->






<div class=" py-4 container min-vh-100  justify-content-center align-items-center">
	<div class="row ">
		<div class="col-md-6 d-flex" *ngFor="let commande of commandes;index as i"
		
			(click)="afficherCommandDetails(commandes._id)">
			<div class="card1   mt-3 p-3 g-2"  >
				<div class="d-flex align-items-center"  >
					<small class="first">Today at 1:30 pm</small>
				</div>
				<div class="mt-3">
					<h2 class="text1">Description<br>Mobilier de maison</h2>
				</div>
				<div class="detail mt-4 "><small>Nom-destinataire : {{commande.FirstName}}</small></div>
				<div class="detail mt-2"><small>Prénom-destinataire :  {{commande.LastName}}</small></div>
				<div class="detail mt-2"><small>Statut :  {{commande.City}}</small></div>





				<div class="mt-3 d-flex justify-content-end px-2">
					<button class="btn-submit" (click)="delete(commande._id,i)" >Annuler</button>
					<!-- <button type="submit" (click)="delete(dataArray._id,i)" class="btn btn-danger" >Delete</button> -->
				</div>

			</div>
		</div>

	</div>





</div>