
.btnn{border-radius: 7px;
    background: red;
    color: azure;
    padding: 6px 42px 8px 33px;
    border: none;}
.form-control{background-color: #ebebed !important }


.alerts{
    color: red;
    float:right;    margin-top: -3px; margin-left: 9px;
}
.alerts1{
    color: rgb(14, 13, 13);
}
.alerts5{
    color: rgb(255, 0, 0);
}
.invalid{
    background-color: antiquewhite !important;
}














