<!-- ============================================================== -->
<!-- main wrapper -->
<!-- ============================================================== -->
<div class="dashboard-main-wrapper">
  <!-- ============================================================== -->
  <!-- navbar   toggleSideBar(){
      let e = <HTMLElement>document.querySelector('#sidebarToggle');
      if (e.style.width == '0rem'){
        e.style.width = '9.5rem';
      }else {
        e.style.width = '0rem';
      }
      
    }-->
  <!-- ============================================================== -->
  <div class="dashboard-header">
    <nav class="navbar navbar-expand-lg bg-white fixed-top" id="navAdmin">
      <a class="navbar-brand" href="index.html">BIP <a style="color: rgb(255, 238, 0)">bip</a></a>

      <div>
        

              <ul id="ul-nav-admin">
                <li class="nav-item dropdown notification">
                  <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-bell"></i> <span  *ngIf="count"
                      class="indicator"></span></a>
      
                  <ul class="dropdown-menu dropdown-menu-right notification-dropdown" style="    padding: 40px 44px;">
                    <li>
                      <div class="notification-title">Notification</div>
                      <div class="notification-list">
                        <table class="list-group">
                          <tr class="list-group-item list-group-item-action active"
                            *ngFor="let item of dataMissions ; index as i">
                            <div class="notification-info">
                              <div class="notification-list-user-img">
                                <img src="assets/adm/images/avatar-2.jpg" alt="" class="user-avatar-md rounded-circle" />
                              </div>
                              <div  (click)="readMissions(item._id,i)" class="notification-list-user-block" type="button">
                                <p>{{username}} {{Prenom}}</p> 
                                <div class="notification-date">a accepté votre offre </div>
                              </div>
                            </div>
                          </tr>
      
      
      
                        </table>
                      </div>
                    </li>
                    <li>
                      <div class="list-footer">
                        <a routerLink="missions">Tous les missions</a>
                      </div>
                    </li>
                  </ul>
                </li>


          <li class="nav-item dropdown nav-user">
            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false"><img src="assets/adm/images/utilisateur.png" alt=""
                class="user-avatar-md rounded-circle" /></a>
            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
              <div class="nav-user-info">
                <h6 class="mb-0 text-white nav-user-name">{{ username }}</h6>
                <span class="status"></span><span class="ml-2">{{ role }}</span>
              </div>
              <a routerLink="/coursier/comptelivreur" class="dropdown-item" href="#"><i
                  class="fas fa-user mr-2"></i>Profile</a>

              <a class="dropdown-item" (click)="logout()" style="cursor:pointer;"><i
                  class="fas fa-power-off mr-2"></i>Déconnexion</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- ============================================================== -->
  <!-- end navbar -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- left sidebar toggleSideBar(){
      let e = <HTMLElement>document.querySelector('#sidebarToggle');
      if (e.style.width == '0rem'){
        e.style.width = '9.5rem';
      }else {
        e.style.width = '0rem';
      }
      
    } -->
  <!-- ============================================================== -->
  <div class="nav-left-sidebar sidebar-dark">
    <div class="menu-list">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="d-xl-none d-lg-none" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav flex-column">
            <li class="nav-divider">Menu</li>

            <li class="nav-item">
              <a class="nav-link" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"
                routerLink="allcommands"><i class="fa fa-fw fa-user-circle"></i>Commandes
                <span class="badge badge-success">6</span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#" aria-expanded="false" data-target="#submenu-9" aria-controls="submenu-9"
                routerLink="mesoffres"><i class="fa fa-archive"></i>Mes offres</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"
                routerLink="missions"><i class="fa fa-users"></i>Mes missions
                <span class="badge badge-success">6</span></a>
            </li>
            <li class="nav-divider">Contacter-nous ?</li>
            <li class="nav-item">
              <a class="nav-link" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"
                routerLink="contact"><i class="fa fa-envelope" aria-hidden="true"></i>Envoyer un Message
                <span class="badge badge-success">6</span></a>
            </li>

          </ul>
        </div>
      </nav>
    </div>
  </div>

  <div class="dashboard-wrapper">
    <div class="dashboard-ecommerce py-4">
      <router-outlet></router-outlet>

    </div>

  </div>

</div>