<div class=" mt-1 mb-1  d-md-flex " style="    margin-top: -29px !important;">

    <div class=" justify-content-center " style="display:contents;">
        <table class="col-md-12">
            <tr *ngFor="let item of dataArray; index as i" class="" style="background: #dcffff">

                <td style="    padding: 0px 15px !important;background: white !important;">
                    <!-- <img src="https://i.imgur.com/zCAnG06.png" width="120" /> -->

                    <h4 class="mt-3 mb-3">{{item.CommandeID?.DateCreation.substring(0,10)}}</h4>

                    <h6 class="name">Description du commande,</h6>
                    <span class="fs-12 text-black-50">{{item.CommandeID?.Description}}</span>
                    <span class="fs-12 text-black-50"></span>
                    <h6 class="name">Nom et prénom du destinataire,</h6>
                    <span class="fs-12 text-black-50">{{item.CommandeID?.NomDestinataire}}
                        {{item.CommandeID?.PrenomDestinataire}}</span>

                    <span class="fs-12 text-black-50"></span>
                    <h6 class="name">AdressDestinataire,</h6>
                    <span class="fs-12 text-black-50">{{item.CommandeID?.AdressDestinataire}}</span>
                    <span class="fs-12 text-black-50"></span>
                    <h6 class="name">GouvernoratDestinataire,</h6>
                    <span class="fs-12 text-black-50">{{item.CommandeID?.GouvernoratDestinataire}}</span>


                </td>

                <td style="    padding: 0px 15px !important;background: white !important;">
                    <div class="py-5 d-flex flex-row justify-content-between align-items-center order-details">
                        <div>
                            <div>
                                <span class="d-block fs-12">Date de ramassage ||</span><span
                                    class="font-weight-bold">{{item?.DateRamassage.substring(0,10)}}</span>

                            </div>


                            <div>
                                <span class="d-block fs-12">Heure de ramassage </span><span
                                    class="font-weight-bold">{{item?.HeureRamassage }}|| </span>
                            </div>




                        </div>
                        <div>
                            <div>
                                <span class="d-block fs-12">Date d'arrive </span><span
                                    class="font-weight-bold">{{item?.DateArrive.substring(0,10)}}</span>

                            </div>


                            <div>
                                <span class="d-block fs-12">Heure d'arrive </span><span
                                    class="font-weight-bold">{{item?.HeureArrive }} </span>
                            </div>




                        </div>



                        <div>
                        </div>
                        <div *ngIf="!item.CommandeID.LivreurResponsable">
                            <button  class="btn btn-info d-block fs-12" (click)="details(item._id,i)">Modifier</button>
                        </div>
                        <div>
                            <button data-bs-toggle="modal" data-bs-target="#exampleModal"
                                class="btn1 btn-info d-block fs-12"
                                (click)="delete(item.CommandeID._id,item._id,i)">Annuler</button>
                        </div>







                        <!-- hello -->






                    </div>


                    <span class="d-block">Montant</span><span class="font-weight-bold text-success">
                        <p>{{item.montant}}dt</p>
                    </span>

                </td>

            </tr>
        </table>
    </div>


</div>