::ng-deep.mat-dialog-container {
    padding: 0px !important;
    border: solid 1px #1d1a1a80;
    border-radius:20px;
    background: rgb(255 255 255);
        padding: 24px;
    
}

.offre-details-container{
    /* background: red; */
    height: 100%;
    padding: 28px;
    

}
/* button {
    border: none;
    margin-top: -25px;
    border-radius: 23px;
    text-transform: capitalize;
    font-size: 11px;
    padding: 10px 19px;
    cursor: pointer;
    color: #fff;
} */
.close{
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}