<div class="container"><article class="offre-details-container">
    <div >
        <a style="margin-left: 557px;" class="close" (click)="dialogRef.close()" mat-dialog-close><span style="    margin-right: -27px;
            margin-left: 40px;" aria-hidden="true">×</span></a>
    </div>
    <h3 >Offre Details :</h3>
    <p>Date de ramassage   :  {{offre?.DateRemassage.substring(0,10)}} </p>
    <p>Heure de ramassage  :  {{offre?.HeureRemassage }}</p>
    <p>Date d'arrive   : {{offre?.DateArrive.substring(0,10)}} </p>
    <p>Heure d'arrive   : {{offre?.HeureArrive}} </p>
  
</article></div>