<form #f="ngForm" (ngSubmit)="addoffre(f)" style="    margin-top: -34px !important;">
  <div class=" ">
    <div class="row">
      <div class="col-md-6 border-right">
        <div class="saitama">
          <h1>Description : <p>ygjyguy</p></h1>

          <p><strong>Nom-Destinataire :</strong>{{cmdArray?.NomDestinataire}}</p>
          <p><strong>Prénom-Destinataire :</strong>{{cmdArray?.PrenomDestinataire}}</p>
          <p><strong>Adresse-Destinataire :</strong> {{cmdArray?.AdressDestinataire}}</p>
          <p><strong>Gouvernorat-Destinataire :</strong> {{cmdArray?.GouvernoratDestinataire}}</p>
          <p><strong>Ville-Destinataire :</strong> {{cmdArray?.VilleDestinataire}}</p>
          <p><strong>Numéro-Destinataire :</strong> {{cmdArray?.NumeroTlfDestinataire}}</p>

         
          <div class="genos">
            <h2>Dimension</h2>
            <ul>
              <li>Poids    : <strong style="color: black;">{{ cmdArray?.Poids }}</strong> </li>
              <li>Longueur : <strong style="color: black;">{{ cmdArray?.Longueur}}</strong> </li>
              <li>Largeur  : <strong style="color: black;">{{ cmdArray?.Largeur}}</strong> </li>
              <li>Hauteur  : <strong style="color: black;">{{ cmdArray?.Hauteur}}</strong> </li>

            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 py-2">
        <div class="p-3">
          <div class="col-md-12">
            <label for="birthday">Date de remassage:</label>
            <input
              type="date"
              id="birthday"
              name="DateRamassage"
              required
              #DateRamassage="ngModel"
              ngModel
            />
          </div>
          <div class="col-md-12">
            <label class="labels">Heure de ramassage:</label
            ><input
              type="text"
              class="form-control"
              name="HeureRamassage"
              required
              #HeureRamassage="ngModel"
              ngModel
              placeholder="PM/AM"
              
            />
          </div>
          <div class="col-md-12 py-4">
            <label for="birthday">Date d'arrive:</label>
            <input
              type="date"
              id="birthday"
              name="DateArrive"
              required
              #DateArrive="ngModel"
              ngModel
            />
          </div>
          <div class="col-md-12">
            <label class="labels">Heure d'arrive</label
            ><input
              type="text"
              class="form-control"
              name="HeureArrive"
              required
              #HeureArrive="ngModel"
              ngModel
              placeholder="PM/AM"
              value=""
            />
          </div>

          <div class="col-md-12">
            <label class="labels">Montant:</label
            ><input
              type="text"
              class="form-control"
              name="montant"
              required
              #montant="ngModel"
              ngModel
              placeholder="20 dt"
              value=""
            />
          </div>
          <br />
        
          <div class="mt-5 text-center">
            <button
              style="background: #d9f8fa; border: aquamarine"
              class="btn px-5 btn-primary"
              [disabled]="f.invalid"
            >
              Publié un offre
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
