<section class="" id="contact">
  <div class="container text-center">
    <h6 class="display-4 has-line py-4">Contactez-nous </h6>
    <p class="mb-5">

      Veuillez utiliser le formulaire ci-dessous pour contacter notre siège social ou nos équipes de relations
      publiques. Nous aimons avoir des nouvelles de nos clients et répondrons à votre demande dès que possible. </p>

    <form #f="ngForm" (ngSubmit)="addMessage(f)">
      <div class="row mb-4">
        <!-- <div class="col-md-6">
          <div class="form-group pb-1">
            <input type="text" class="form-control" required placeholder="Name" />
          </div>
          <div class="form-group">
          </div>
          <hr>
          <div class="form-group pb-1">
            <input type="email" class="form-control" required placeholder="Email" />
          </div>

        </div> -->
        <div class="col-md-6">
          <textarea name="" id="" cols="" rows="7" class="form-control" required placeholder="Message" name="message"
            required #message="ngModel" ngModel></textarea>
        </div>
      </div>
      <input type="submit" class="btn btn-primary btn-block" value="Send Message" [disabled]="f.invalid" />
    </form>
  </div>
</section>