    <div class="header">
        <div class="row r1">
            <div class="col-md-9 abc">
                <h1>Tyre Mountain Cycle 21</h1>
            </div>
            <div class="col-md-3 text-right pqr"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
            <p class="text-right para">Based on 250 Review</p>
        </div>
    </div>
    <div class="container-body mt-4">
        <div class="row r3">
            <div class="col-md-5 p-0 klo">
             
                <ul style="margin-left: 49px;">
                    <p style="margin-top: 65px;">NOTRE HISTOIRE</p>
                    <hr> <i class="bi bi-exclamation-square-fill" style="margin-left:-20px;"></i>
                   
                    BIP-BIP est une application lancée en 2022 par M.abdallah shili &&  M.Aziz lassoued ,est une application web spécialisée dan les services de livraison avec M.Mohamed, directeur de protech it.
                    <li><i class="bi bi-geo-alt-fill" style="margin-left:-20px;"></i>   Consulting, développement et formation informatique
                       </li><p style="margin-top: -9px;"> 136 av. de  la République 6000 Gabès immeuble pyramide 4éme étage au dessus d'agence zitouna el manzel, Gabès, Tunisie</p>
                 
                    
                </ul>
            </div>
            <div class="col-md-5"> <img src="https://scontent.ftun15-1.fna.fbcdn.net/v/t1.6435-9/47160328_2143076062410529_7845803779659137024_n.png?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=2m_PHqpHCIYAX8vxx1f&_nc_ht=scontent.ftun15-1.fna&oh=00_AT8zwnHMIu3RfTTUSprrUmOORJ0_PP0YYO3wKB3-2tvuzg&oe=62B6167B" width="90%" height="95%"> </div>
        </div>
    </div>

