
<!-- 
				
				
							<main id="main" class="main">
				
								<div class="card-body">
									<h5 class="card-title">Recent Sales <span>| Today</span></h5>
							
									<table class="table table-borderless datatable">
									  <thead> -->
<!-- <tr>
										  <th scope="col">#</th>
										  <th scope="col">Nom</th>
										  <th scope="col">Prenom</th>
										  <th scope="col">téléphone</th>
										  <th scope="col">ville/localité</th>
										</tr> -->
<!-- </thead>
									  <tbody> -->
<!-- <tr >
										
										  <th scope="row"><a href="#"></a></th> -->
<!-- <td>{{datalivreur.FirstName }}</td> -->
<!-- <td><a href="#" class="text-primary">{{item.City}}</a></td>
										  <td>{{item.Longueur}}</td>			  
										  <td>{{item.Poids}}</td>
										  <td>{{item.Dest_FirstName}}</td>
										  <td>{{item.Dest_LastName}}</td>
										   -->
<!-- 			
										  <td><span class="badge bg-warning">Pending</span></td> 
							
										</tr> 
										
									  </tbody>
									</table>
							
								  </div>
								</main>  -->






                                <div class=" py-4 container min-vh-100  justify-content-center align-items-center ">
                                    <div class="row ">
                                        <div class="col-md-6 d-flex" *ngFor="let commande of commandes;index as i "  
                                        
                                            >
                                            <div class="card1   mt-3 p-3 g-2"   >
                                                <div class="d-flex align-items-center"  >
                                                    <small class="first">Today at 1:30 pm</small>
                                                </div>
                                                <div class="mt-3">
                                                    <h2 class="text1" (click)="detailsdatacmd(commande._id,i)" >Description :<br><h3 style="color: #f1ff23bf;">{{commande.Description}}</h3></h2>
                                                </div>
                                                <div class="detail mt-4 "><small>Nom-destinataire : {{commande.NomDestinataire}}</small></div>
                                                <div class="detail mt-2"><small>Prénom-destinataire :  {{commande.PrenomDestinataire}}</small></div>
                                                <div class="detail mt-2"><small>Numéro-téléphone :  {{commande.NumeroTlfDestinataire}}</small></div>
                                            
                                
                                
                                
                                
                                
                                                <div class="mt-3 d-flex justify-content-end px-2" style="padding-left: 7.5rem !important;">
                                                    <button  *ngIf="commande.offres.length"  class="btn-submit"  style="background-color: red;color: aliceblue;" (click)="details(commande._id,i)" >offres</button>
                                                    <button class="btn-submit1" (click)="delete(commande._id,i)" >Annuler</button>
                                
                                                    <!-- <button type="submit" (click)="delete(dataArray._id,i)" class="btn btn-danger" >Delete</button> -->
                                                </div>
                                
                                            </div>
                                        </div>
                                
                                    </div>
                                    <!-- /request/+id -->
                                
                                
                                
                                
                                </div>
                                        