<div class="container-fluid mt-5 mb-5">
  <div class="d-flex flex-row align-items-center">
    <img src="https://i.imgur.com/0OJxfof.png" width="30" height="30" />
    <Span class="integration ms-1 fs-5">Integrations</Span>
  </div>
  <p class="d-block py-2" style="margin-top: 52px;">Bonjour. Comment pouvons-nous vous aider ?</p>
  <hr />
</div>

<div class="container">
  <div class="row mt-2 g-2 py-2">
    <div class="col-md-4" type="submit" routerLink="/login">
      <div class="card p-3 py-4">
        <div class="d-flex justify-content-between align-items-center">
          <img
            alt="Votre compte"
            src="https://m.media-amazon.com/images/G/08/x-locale/cs/help/images/gateway/self-service/account.png"
            class="ss-v2-box-image"
          />
        </div>
        <span class="google mt-3">Votre compte</span>
        <span class="text mt-2">Gérez les préférences de votre compte.</span>
      </div>
    </div>

    <div class="col-md-4" type="submit" routerLink="/login">
      <div class="card p-3 py-2">
        <div class="d-flex justify-content-between align-items-center">
          <img
            alt="Retours et remboursements"
            src="https://m.media-amazon.com/images/G/08/x-locale/cs/help/images/gateway/self-service/return.png"
            class="ss-v2-box-image"
          />
        </div>
        <span class="google ">Services d'expédition</span>
        <span class="text mt-2">Fais livrer tes colis, ton drive, tes commandes La livraison par
          coursiers particuliers a de nombreux avantages</span>
      </div>
    </div>

    <div class="col-md-4" type="submit" routerLink="/login">
      <div class="card p-3 py-4">
        <div class="d-flex justify-content-between align-items-center" >
          <img
            alt="Contactez-nous"
            src="https://m.media-amazon.com/images/G/08/x-locale/cs/help/images/gateway/self-service/contact_us.png"
            class="ss-v2-box-image"
          />
        </div>
        <span class="google mt-3">Contactez-nous </span>
        <span class="text mt-2"
          >Contacter notre service client par chat</span
        >
      </div>
    </div>

    <div class="col-md-4" type="submit" routerLink="/login">
      <div class="card p-3">
        <div class="d-flex justify-content-between align-items-center">
          <img
            alt="Vos commandes"
            src="https://m.media-amazon.com/images/G/08/x-locale/cs/help/images/gateway/self-service/order.png"
            class="ss-v2-box-image"
          />
        </div>
        <span class="google mt-3 py-2">Vos commandes</span>
        <span class="text mt-2">Modifier ou annuler les commandes</span>
      </div>
    </div>
  </div>
</div>