<!-- ============================================================== -->
<!-- main wrapper -->
<!-- ============================================================== -->
<div class="dashboard-main-wrapper">
  <!-- ============================================================== -->
  <!-- navbar -->
  <!-- ============================================================== -->
  <div class="dashboard-header">
    <nav class="navbar navbar-expand-lg bg-white fixed-top" id="navAdmin">
      <a class="navbar-brand" href="index.html">BIP <a style="color: rgb(255, 238, 0)">bip</a></a>

      <div>
        <ul id="ul-nav-admin">
          <li class="nav-item dropdown notification">
            <a class="nav-link nav-icons" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false"><i class="fas fa-comment-dots"></i> <span *ngIf="count"
                class="indicator"></span></a>
            <ul class="dropdown-menu dropdown-menu-right notification-dropdown" style="    padding: 40px 44px;">
              <li>
                <div class="notification-title">Notification</div>
                <div class="notification-list">
                  <table class="list-group">
                    <tr class="list-group-item list-group-item-action active"
                      *ngFor="let item of dataMessages index as i">
                      <div class="notification-info">
                        <div class="notification-list-user-img">
                          <img src="assets/adm/images/avatar-2.jpg" alt="" class="user-avatar-md rounded-circle" />
                        </div>
                        <div class="notification-list-user-block" type="button" (click)="readOneMessage(item._id,i)">
                          <p>{{item.UtilisateurID?.Nom}} {{item.UtilisateurID?.Prenom}}</p>
                          ({{item.UtilisateurID?.role}})
                          <div class="notification-date">{{item.message}} </div>
                        </div>
                      </div>
                    </tr>



                  </table>
                </div>
              </li>
              <li>
                <div class="list-footer">
                  <a routerLink="messages">Tous les messages</a>
                </div>
              </li>
            </ul>
          </li>

          <li class="nav-item dropdown nav-user">
            <a class="nav-link nav-user-img" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false"><img src="assets/adm/images/utilisateur.png" alt=""
                class="user-avatar-md rounded-circle" /></a>
            <div class="dropdown-menu dropdown-menu-right nav-user-dropdown" aria-labelledby="navbarDropdownMenuLink2">
              <div class="nav-user-info">
                <h5 class="mb-0 text-white nav-user-name">{{ username }}</h5>
                <span class="status"></span><span class="ml-2">{{ role }}</span>
              </div>
              <a routerLink="admins" class="dropdown-item" href="#"><i
                class="fas fa-user mr-2"></i>Administrateurs</a>
              <a routerLink="/admin/moncompte" class="dropdown-item" href="#"><i
                  class="fas fa-user mr-2"></i>Profile</a>
              <!-- <a class="dropdown-item" href="#"><i class="fas fa-cog mr-2"></i>Setting</a> -->
              <a class="dropdown-item" style="cursor:pointer;" (click)="logout()"><i
                  class="fas fa-power-off mr-2"></i>Déconnexion</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <!-- ============================================================== -->
  <!-- end navbar -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- left sidebar -->
  <!-- ============================================================== -->
  <div class="nav-left-sidebar sidebar-dark">
    <div class="menu-list">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav flex-column">
            <li class="nav-divider">Menu</li>

            <li class="nav-item">
              <a class="nav-link" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"
                routerLink="dashboard"><i class="fas fa-calendar-alt "></i>
                Dashboard
                <span class="badge badge-success">6</span></a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="#" aria-expanded="false" data-target="#submenu-9" aria-controls="submenu-9"
                routerLink="commands"><i class="fa fa-archive"></i>Commandes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"
                routerLink="client"><i class="fa fa-users"></i>Clients
                <span class="badge badge-success">6</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"
                routerLink="livreurs"><i class="fa fa-truck"></i>Livreurs<span class="badge badge-success">6</span></a>
            </li>

            <li class="nav-divider">Quoi de neuf ?</li>
            <li class="nav-item">
              <a class="nav-link" aria-expanded="false" data-target="#submenu-1" aria-controls="submenu-1"
                routerLink="messages"><i class="fa fa-envelope" aria-hidden="true"></i>Messages
                <span class="badge badge-success">6</span></a>
            </li>


          </ul>
        </div>
      </nav>
    </div>
  </div>

  <div class="dashboard-wrapper">
    <div class="dashboard-ecommerce py-4">
      <router-outlet></router-outlet>

    </div>