
<form class="" #f="ngForm" (ngSubmit)="registre(f)">

  <div class="container d-flex justify-content-center align-items-center">
    <div class="card b">
<div type="submit" routerLink="/" >          <a ><i class=" fa fa-home"></i>  /Home</a>
</div>
      <div class="row">
        <div class="col-md-6">
          <div class="form">
            <div class="mt-2">
              <span>Nom  </span><strong style="float:right;" class="alerts p" *ngIf="Nom.errors?.required && Nom">
                *             </strong>
              <input type="text" class="form-control" placeholder="Name" Nom required name="Nom" #Nom="ngModel"
                ngModel />
              
                
            </div>
            <div class="mt-2">
              <span>Prénom </span><strong style="float:right;" class="alerts p" *ngIf="Prenom.errors?.required && Prenom">
                *             </strong>
              <input type="text" class="form-control" placeholder="Prénom" Prenom required name="Prenom" #Prenom="ngModel"
                ngModel />
            
            </div>
 
            <div class="mt-2">
              <span>Email</span><strong style="float:right;" class="alerts p" *ngIf="Email.errors?.required && Email">
                *             </strong>
              <input type="Email" placeholder="Email"  [pattern]="emailPattern" class="form-control"  Email required name="Email" #Email="ngModel"
                ngModel />
              <p class="alerts p" *ngIf="Email && Email.errors?.pattern">
                Cette entrée doit être un e-mail valide
              </p>
            </div>

            <div class="mt-2">
              <span>Mot de passe</span><strong style="float:right;" class="alerts p" *ngIf="MotDePasse.errors?.required && MotDePasse">
                *             </strong>
              <input type="MotDePasse" minlength="8" class="form-control" placeholder="MotDePasse" required name="MotDePasse"
                #MotDePasse="ngModel" ngModel />
              
              <p class="alerts p" *ngIf="MotDePasse.errors?.minlength">
                cette entrée doit +8 caractères requis
              </p>
            </div>

            <!-- class="alerts" *ngIf="PasswordConfirm.value !== Password.value fa-check-circle -->

            <div class=" mt-2">
              <span>Confirmer Mot de passe</span>
              <input type="password" minlength="8" class="form-control" placeholder="ConfirmerMotDePasse" required
                name="ConfirmerMotDePasse" #ConfirmerMotDePasse="ngModel" ngModel />
              <p class="alerts p" *ngIf="
                  ConfirmerMotDePasse.errors?.minlength
                ">
                cette entrée doit +8 caractères requis
              </p>
              <p class="alerts p" *ngIf="ConfirmerMotDePasse.value !== MotDePasse.value">
                Les deux mots de passe doivent correspondre              
              </p>
             
            </div>
        
            <p>Tu est ?</p>
            <label class="custom-control custom-radio custom-control-inline">
                <input required name="role"
                #role="ngModel" ngModel type="radio" name="radio-inline" value="client" name="role" checked="" class="custom-control-input"><span class="custom-control-label">Client</span>
            </label>
            <label class="custom-control custom-radio custom-control-inline">
                <input required name="role"
                #role="ngModel" ngModel type="radio" name="radio-inline" class="custom-control-input" value="livreur" name="role"><span class="custom-control-label">livreur</span>
            </label>










            
          







          </div>
        </div>
        <div class="col-md-6 form">
          <div>
            <div class=" mt-2">
              <span>Numéro de téléphone</span><strong style="float:right;" class="alerts p" *ngIf="NumeroTlf  .errors?.required && NumeroTlf  ">
                *             </strong>
              <input type="text" minlength="8" [pattern]="emailPattern1" class="form-control" placeholder="numéro de téléNumeroTlf" required name="NumeroTlf"
                #NumeroTlf="ngModel" ngModel />
                <p class="alerts p" *ngIf="NumeroTlf && NumeroTlf.errors?.minlength">
                  Cette entrée doit être un numéro valide
                </p>
            </div>

            <div class=" mt-2">
              <span>Adresse</span><strong style="float:right;" class="alerts p" *ngIf="Adresse.errors?.required && Adresse">
                *             </strong>
              <input type="text" minlength="2" class="form-control" placeholder="Localité" required name="Adresse"
                #Adresse="ngModel" ngModel />
              
            </div>
            <div class=" mt-2">
              <span>Ville</span><strong style="float:right;" class="alerts p" *ngIf="Ville.errors?.required && Ville">
                *             </strong>
              <input type="text" minlength="2" class="form-control" placeholder="ville" required name="Ville"
                #Ville="ngModel" ngModel />
              
            </div>
           
            <div class="mt-2">
              <label class="labels">Gouvernorat</label>
              <select class=" form-control "  aria-label="labels" name="Gouvernorat" #Ville="ngModel" ngModel  >
                <option selected>Tunis</option>
                <option value="gafsa">gafsa</option>
                <option value="Gabes">Gabes</option>
                <option value="Nabel">Nabel</option>
              </select>
            </div>
        
            

            <div class="d-flex justify-content-between align-items-center">
              <div class="text-right">
                <br>
                <button type="submit"  style="color: white; border-color: aliceblue;"  class="btn btn-info" >
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  S'inscrire
                </button>
              </div>
            </div>
            <div class="form-check mt-2">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked />
              <label class="form-check-label" for="flexCheckChecked">
                j'ai lu et j'accepte les termes et conditions
                <a href="" class="login">politique de confidentialité</a>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>






































