
    <div class="main-container">
        <!-- <div class="navbar bg-white breadcrumb-bar border-bottom"> -->
            <!-- <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Overview</a>
                            </li>
                            <li class="breadcrumb-item"><a href="pages-app.html">App Pages</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Chat</li>
                        </ol>
                    </nav> -->
            <!-- <div class="dropdown">
                        <button class="btn btn-outline-light btn-sm" data-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-cog"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#">Manage Members</a>
                            <a class="dropdown-item" href="#">Subscribe</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#">Leave Chat</a>
                        </div>
                    </div> -->
        <!-- </div> -->
        <div class="content-container">
            <div class="chat-module">
                <div class="chat-module-top">
                   
                    <div class="chat-module-body">
                        <div class="media chat-item">
                            <img alt="William" src="../assets/adm/images/avatar-1.jpg"
                                class="rounded-circle user-avatar-lg">
                            <div class="media-body">
                                <div class="chat-item-title">
                                    <span class="chat-item-author">William</span>
                                    <span>4 days ago</span>
                                </div>
                                <div class="chat-item-body">
                                    <p>Hey guys, Phasellus imperdiet arcu venenatis, malesuada nulla a, porta sem.
                                        Curabitur nec massa ultrices, consequat erat sit amet, luctus justo. Brand
                                        Concept &amp; Design!</p>
                                </div>
                            </div>
                        </div>
                        <div class="media chat-item">
                            <img alt="Daniel" src="../assets/images/avatar-2.jpg" class="rounded-circle user-avatar-lg">
                            <div class="media-body">
                                <div class="chat-item-title">
                                    <span class="chat-item-author">Daniel</span>
                                    <span>Yesterday</span>
                                </div>
                                <div class="chat-item-body">
                                    <p>Quisque condimentum elit quis nibh condimentum, in maximus tortor viverra. 🤓</p>
                                </div>
                                <div class="media media-attachment">
                                    <div class="avatar bg-primary">
                                        <i class="fas fa-file"></i>
                                    </div>
                                    <div class="media-body">
                                        <a href="#" class="">questionnaire-draft.doc</a>
                                        <span>24kb Document</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="media chat-item">
                            <img alt="Daniel" src="../assets/images/avatar-2.jpg" class="rounded-circle user-avatar-lg">
                            <div class="media-body">
                                <div class="chat-item-title">
                                    <span class="chat-item-author">Daniel</span>
                                    <span>Yesterday</span>
                                </div>
                                <div class="chat-item-body">
                                    <p>Quisque condimentum elit quis nibh condimentum, in maximus tortor viverra. 🤓</p>
                                </div>
                                <div class="media media-attachment">
                                    <div class="avatar bg-primary">
                                        <i class="fas fa-file"></i>
                                    </div>
                                    <div class="media-body">
                                        <a href="#" class="">questionnaire-draft.doc</a>
                                        <span>24kb Document</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="media chat-item">
                            <img alt="Daniel" src="../assets/images/avatar-2.jpg" class="rounded-circle user-avatar-lg">
                            <div class="media-body">
                                <div class="chat-item-title">
                                    <span class="chat-item-author">Daniel</span>
                                    <span>Yesterday</span>
                                </div>
                                <div class="chat-item-body">
                                    <p>Quisque condimentum elit quis nibh condimentum, in maximus tortor viverra. 🤓</p>
                                </div>
                                <div class="media media-attachment">
                                    <div class="avatar bg-primary">
                                        <i class="fas fa-file"></i>
                                    </div>
                                    <div class="media-body">
                                        <a href="#" class="">questionnaire-draft.doc</a>
                                        <span>24kb Document</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>

            </div>




      
    </div>


</div>



<!-- ============================================================== -->
<!-- end main wrapper -->
<!-- ============================================================== -->