/* You can add global styles to this file, and also import other style files */
#mobile-btn {
    display: none;
}

@media only screen and (max-width: 1210px) {
    #mobile-btn {
        display: block;
    }
  }
 
/* body{
     overflow-y: hidden;
} */

mat-dialog-container{
    position: fixed;
    top: 90px;
    background: #fff;
    width: 50vw !important;
    left: 30%;
    height: 70vh !important;
    border-radius: 30px !important;
    overflow: hidden !important;
}
