.btn11{
    padding: 9px 89px 8px 85px;
    margin-top: 19px;
    color: white;
    background: #0e0c28;
    border: none;
}
.form-control{
    background-color: #ffffff4d !important;
    font-family: serif !important;
}